@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}
:root{
    --section-color:#404a31;
}
body{
    background-color: rgb(240, 228, 197);
    
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.btnButton_wastapp:hover:after {
    content: "";
    text-decoration: none;
    background-color: white;
    padding: 15px;
    width: 5px;
    z-index: 998;
    left: -73%;
    top: 10%;
    height: 5px;
    border: 1px solid black;
    rotate: 45deg;
    transition: all 1s ease;
    animation: fadeIn 1s ease;
    position: absolute;
}

.btnButton_wastapp:hover:before {
    animation: fadeIn 1s ease;
    transition: all 1s ease;
    border: 1px solid black;
    border-right: none;
    content: "Contactanos";
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 15px;
    z-index: 999;
    border-radius: 10px;
    position: absolute;
    left: -200%;
}

.btnButton_wastapp {
    transition: all 0.5s ease; 
    z-index: 99;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    border: none;
    cursor: pointer;
    height: 80px;
}

section:nth-of-type(1){
    background-color: var(--section-color);
    width: 80%;
    padding: 50px;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
 h1{
    color: white;
     font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
section:nth-of-type(1)> div{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
main, section{
    flex:1;
}

section:nth-of-type(2){
    margin:20px;
    padding: 40px;
    height: 80vh;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap:100px;
}

section:nth-of-type(2)> div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
section:nth-of-type(2) div img{
    width: 60%;
    height: 100%;
    object-fit: cover;
}
section:nth-of-type(2) .ramitas:nth-last-of-type(1){
    z-index: -1;
}
section:nth-of-type(3) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
    position: relative;
    height: 100vh;
}

section:nth-of-type(3) img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

section:nth-of-type(3)> div{
    display: flex;
justify-content: center;
    align-items: center;
    height: 100%;
    gap: 20px;
    color: white;
    text-align: center;
}
main >div{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    padding: 50px;


}

main >div * {
    flex: 1;
}
@media screen and (max-width: 768px) {
    section:nth-of-type(1){
        width: 100%;
        padding: 20px;
    }
    section:nth-of-type(2){
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
    section:nth-of-type(2)> div img{
        width: 100%;
        height: auto;

    }
    section:nth-of-type(3){
        height: auto;
        padding: 20px;
    }
    main >div{
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }   
    fieldset{
        width: 100%;
    }
}